<% title "Departments" %>

<h1><%= yield(:title) %></h1>

<br><%= link_to 'New Department', new_department_path %>

<table id="box-table-a" style="width:550px">
  <thead>
    <tr>
      <th>Name</th>
      <th>Desc</th>
      <th>Chair</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @departments.each do |department| %>
      <tr>
        <td><%= department.name %></td>
        <td><%= department.desc %></td>
        <td><%= department.chair %></td>
        <td><%= link_to 'Show', department %></td>
        <td><%= link_to 'Edit', edit_department_path(department) %></td>
        <td><%= link_to 'Destroy', department, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


