<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @department.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @department.desc %>
</p>

<p>
  <strong>Chair:</strong>
  <%= @department.chair %>
</p>

<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>
