<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @section.name %>
</p>

<p>
  <strong>Department:</strong>
  <%= @section.department.name %>
</p>

<p>
  <strong>Yearlevel:</strong>
  <%= @section.yearlevel %>
</p>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
