<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subject.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @subject.desc %>
</p>

<p>
  <strong>Units:</strong>
  <%= @subject.units %>
</p>

<p>
  <strong>Department:</strong>
  <%= @subject.department %>
</p>

<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
